<!-- views/index.ejs -->
<!doctype html>
<html lang = "en">
<%- include ./partials/head.ejs %>
<body>

<%- include ./partials/nav.ejs %>

<div class="container">
	<div class="col-sm-8 col-offset-sm-2">
		<h1>Create a Poll</h1>
		
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%=message%></div>
		<% } %>
		
		<form action='/createPoll' method='post'>
			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control" name="title">
			</div>
			<div class="form-group">
				<label>Description</label>
				<textarea class="form-control" rows = "5" name="desc"></textarea>
			</div>
			<div class="form-group">
				<label>Options</label>
				<input type="text" class="form-control" name="opt1"><br>
				<input type="text" class="form-control" name="opt2"><br>
				<div id="extraOptions"></div>
				<input type="hidden" id="numOpts" name="numOpts" value="2">
				<button type="button" id="addOption" class="btn btn-info">Add option</button>
			</div>
			<button type="submit" class="btn btn-lg btn-primary">Create</button>
		</form>
	</div>
</div>
<script>
$(document).ready(function() {
	var optCount = 3;
	$('#addOption').click(function() {
		$('#extraOptions').append('<input type="text" class="form-control" name="opt'+optCount+'"><br>');
		$('#numOpts').val(optCount);
		optCount++;
	});
});
</script>
</body>
</html>