<!-- views/index.ejs -->
<!doctype html>
<html lang = "en">
<%- include ./partials/head.ejs %>
<style>
	.btn-success {
		position:fixed;
		bottom: 12px;
		right: 10px;
	}
</style>
<body>

<%- include ./partials/nav.ejs %>

<div class="container">
	<% if (!user) { %>
	<div class="jumbotron text-center">
    <h1>Voting!</h1>
		<p class="lead">View the list of polls and vote, or sign in to monitor your polls and create new ones!</p>
  </div>
	<% } else { %>
	<a class="btn btn-success" href='/createPoll'>Create a poll!</a>
	<% } %>
	<table class="table table-bordered">
		<tr>
			<th class="text-center">Title</th>
		</tr>
	<% for(i = 0;i<polls.length;i++) { %>
		<tr><td><a href='/viewPoll/<%= polls[i]._id %>'><%= polls[i].title %></a></td><tr?
		<% } %>
	</table>
</div>
</body>
</html>