<!-- views/index.ejs -->
<!doctype html>
<html lang = "en">
<%- include ./partials/head.ejs %>
<body>

<%- include ./partials/nav.ejs %>

<div class="container">
	<% if (!user) { %>
	<div class="jumbotron text-center">
    <h1>Voting!</h1>
		<p class="lead">View the list of polls and vote, or sign in to monitor your polls and create new ones!</p>
  </div>
	<% } else { %>
	<a href='/createPoll'>Create a poll!</a>
	<% } %>
	<ul>
	<% for(i = 0;i<polls.length;i++) { %>
		<li><a href='/viewPoll/<%= polls[i]._id %>'><%= polls[i].title %></a></li>
		<% } %>
	</ul>
</div>
</body>
</html>